*{
              
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
                
    height:100%;
    width:100%;
}

main{
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;


    section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 1rem;
        width: 250px;
        aspect-ratio: 1/1;
        background-color: burlywood;
        border: 2px solid #fff;
        background-image: url(https://images.unsplash.com/photo-1524504388940-b1c1722653e1?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: top;

        .top{
            display: flex;
            justify-content: center;
            padding: 1rem;
            h1{
                font-size: 1rem;
                color: #fff;
                opacity: 0.8;
                text-transform: uppercase;
                letter-spacing: 5px ;
            }

        }

        .bottom{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 1rem;
            background:linear-gradient(#e2dede27,transparent) ;
            

            .add{
                
                button{
                    width: fit-content;
                    padding: 0.2rem 0.4rem;
                    border-radius: 0.9rem;
                    border: none;
                    color: rgb(132, 4, 143);

                }
            }

            .social{
                display: flex;
                gap: 0.4rem;

                i{
                    font-size: 1.2rem;
                    color: #fff;
                    background-color: aquamarine;
                    background: none;
                    outline: none;
                    cursor:pointer
                   
                }
            }
        }
}

#names{
    height: 250px;
    width: 250px;
    border-radius: 1em;
    background-color:transparent;
    border: 2px solid #fff;

    h1{
        text-align: center;
        color: #032f30;
        text-transform: capitalize;

    }

    .hr{
        color: #000;
        background-color: #000;
        border: 1px solid #000;
    }

    h2{
        text-align: center;
        color: black;
        opacity: 0.7;
        font-size: 3rem;
    }
}
}